<div class="container">



    <h1 class="text-center">{{title}}</h1>
    <br>
    {{#each ArticleInfo}}
    <ol>
        <div class="card art{{id}}" data-id={{id}}>
            <div class="card-header">
                <a target="_blank" href="{{this.link}}">
                    <h3>{{this.title}}</h3>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text" data-id={{id}}>
                        {{this.summary}}
                </p>
                <button class="btn btn-primary saved" data-id={{id}} id={{id}}>SAVE</button>
            </div>
        </div>
        <br class="card art{{id}}" data-id={{id}}>

    </ol>
    {{/each}}
</div>
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}